@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/poppins";
@import "@fontsource/montserrat";
@source "../views";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@plugin "daisyui";

@theme {
    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --font-poppins: "Poppins", sans-serif;
}

/* Disable Edge & IE built-in reveal button */
input::-ms-reveal,
input::-ms-clear {
    display: none;
}

/* Disable Chrome's built-in password icon */
input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input:-webkit-autofill {
    background-color: transparent !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}

html {
    scroll-behavior: smooth;
}

* {
    letter-spacing: 0.75px;
}

.custom-scrollbar {
    padding-right: 4px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

calendar-month::part(selected) {
    background-color: #5aa526 !important;
    color: white !important;
}

calendar-month::part(heading) {
    color: black !important;
    font-weight: 700;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"].hide-calendar::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* ===== dom-to-image HARD FIX ===== */
.dom-capture {
    overflow: hidden !important;
    background-clip: padding-box !important;
    border-radius: 0 !important;

    transform: translateZ(0);
    backface-visibility: hidden;
}

/* Kill ALL visual edges */
.dom-capture *,
.dom-capture *::before,
.dom-capture *::after {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

/* Replace hr safely */
.dom-capture hr {
    height: 1px !important;
    background-color: #BBBBBB !important;
    border: 0 !important;
}
